
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="input-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "60x10", style: "overflow-y: scroll; margin-bottom: 12px;"%>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id if current_user%>
  <% if @character %>
    <div>      
      <%= f.hidden_field :character_id, :value => @character.id %>
      <%= f.submit %>
    </div>
  <% else %>
    <div>
      <br><%= f.submit %>
    </div>
  <% end %>
<% end %>
