
  
  <!-- <h2 class="bg-primary">Listing Posts</h1> -->
  
  <%if @character%>
    Posts of <%= @character.name%> character<br>
    <%= link_to 'New Post', new_post_path(character_id: @character.id), role: "button", class: "btn btn-success" %>
  <%else%>
    <%= link_to 'New Post', new_post_path, role: "button", class: "btn btn-success" %>
  <% end %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% if @posts %>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %> <br> </td>
            <td><%= link_to 'Show', post, role: "button", class: "btn btn-default" %> <br> </td>
            <td><%= link_to 'Edit', edit_post_path(post), role: "button", class: "btn btn-default"%> <br> </td>
            <td><%= link_to 'Destroy', post, method: :delete, role: "button", class: "btn btn-default", data: { confirm: 'Are you sure?' } %> </td>
          </tr>
        <% end %>
        <% end %>


      </tbody>
      
    </table>
  </div>
  
