<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this place from being saved:</h2>
      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="input-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="input-group">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <%= f.hidden_field :creator_id, :value => current_user.id %>
  <div>
    <br><%= f.submit %>
  </div>
<% end %>
