<div class="container">
  
  <h2 class="bg-primary">Listing Organizations</h1>
  <%= link_to 'New Organization', new_organization_path, role: "button", class: "btn btn-success" %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.name %> <br> </td>
          <td><%= organization.description %> <br> </td>
          <td><a target ="blank" href=<%= organization.url %>><%= organization.url %></a> <br> </td>
          <td><%= link_to 'Show', organization, role: "button", class: "btn btn-default" %> <br> </td>
          <% if current_user.role === "admin" %>
            <td><%= link_to 'Edit', edit_organization_path(organization), role: "button", class: "btn btn-default"%> <br> </td>
            <td><%= link_to 'Destroy', organization, method: :delete, role: "button", class: "btn btn-default", data: { confirm: 'Are you sure?' } %> </td>
            <td><%= link_to 'Ask for Join', user_organizations_path(organization_id: organization.id), method: :post, role: "button", class: "btn btn-success"%> <br> </td>
          <% end %>
        </tr>
      <% end %>

    </tbody>
    
  </table>

  
</div>