<div class="row">
  <div class="col-xs-4">
    <p>
      <strong>Name:</strong>
      <%= @organization.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @organization.description %>
    </p>

    <p>
      <strong>Url:</strong>
      <a target ="blank" href=<%= @organization.url %>><%= @organization.url %></a> 
    </p>


    <%= link_to 'Edit', edit_organization_path(@organization) %> |
    <%= link_to 'Back', organizations_path %>
  </div>
</div>