<div class="row">
  <div class="col-md-3">
    <p>
      <strong>Name:</strong>
      <%= @character.name %>
    </p>

    <p>
      <strong>Introduction:</strong>
      <%= @character.introduction %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Organization:</strong>
      <%= @organization.name if @organization%>
    </p>

    <p>
      <strong>Event:</strong>
      <%= @character.events.last if @character.events %>
    </p>

    <%= link_to 'Edit', edit_character_path(@character) %> |
    <%= link_to 'Back', characters_path %>
  </div>
</div>