<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Direction</th>
      <th>Url</th>
      <th>Postal Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %> <br> </td>
        <td><%= place.direction %> <br> </td>
        <td><a href=<%= place.url %>><%= place.url %></a> <br> </td>
        <td><%= place.postal_code %> <br> </td>
        <td><%= link_to 'Show', place %> <br> </td>
        <td><%= link_to 'Edit', edit_place_path(place)%> <br> </td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>