
	<div class="col-xs-4">
		<div class="well">
		  <strong>Name:</strong>
		  <%= @place.name %>
		</div>

		<div class="well">
		  <strong>Direction:</strong>
		  <%= @place.direction %>
		</div>

		<div class="well">
		  <strong>Url:</strong>
		  <a target ="blank" href=<%= @place.url %>><%= @place.url %></a> 
		</div>

		<div class="well">
		  <strong>Postal Code:</strong>
		  <%= @place.postal_code %>
		</div>

		<%= link_to 'Edit', edit_place_path(@place) %> |
		<%= link_to 'Back', places_path %>
	</div>
