<div class="col-xs-4">
  <div class="well">
    <strong>Name:</strong></br>
    <%= @event.name %>
  </div>
  <div class="well">
    <strong>Introduction:</strong></br>
    <%= @event.introduction %>
  </div>
  <div class="well">
    <strong>Place:</strong></br>
    <%= @place.name if @place%>
  </div>
  <div class="well">
    <strong>Organization:</strong></br>
    <%= @organization.name if @organization%>
  </div>
  <div class="well">
    <strong>From:</strong></br>
    <%= @event.begin_date %>
  </div>
  <div class="well">
    <strong>To:</strong></br>
    <%= @event.finish_date %>
  </div>
  <% if (current_user.role === "superadmin") || (current_user.id === @event.creator_id) %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
  <% end %>
  <%= link_to 'Back', events_path %>
</div>
