<div class="row">
  <div class="col-md-3">
    <p>
      <strong>Name:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Introduction:</strong>
      <%= @event.introduction %>
    </p>

    <p>
      <strong>Place:</strong>
      <%= @event.places.name if @event.places%>
    </p>

    <p>
      <strong>Organization:</strong>
      <%= @organization.name if @organization%>
    </p>

    <p>
      <strong>From:</strong>
      <%= @event.begin_date %>
    </p>

    <p>
      <strong>To:</strong>
      <%= @event.finish_date %>
    </p>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>