<div class="row">
  <div class="col-xs-4">

    <div class="well">
      <strong>Name:</strong>
      <%= @user.name %>
    </div>

    <div class="well">
      <strong>Email:</strong>
      <%= @user.email %>
    </div>
    <div class="well">
      <strong>Avatar:</strong>
      <%= image_tag @user.avatar.url(:medium) %>
    </div>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', root_path %>
  </div>
  <div class="col-md-8">
    
  </div>
</div>