<h2 class="bg-primary">Listing Users</h1>
<%= link_to 'New User', new_user_path, role: "button", class: "btn btn-success"  %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> <br> </td>
        <td><%= user.email %> <br> </td>
        <td><%= link_to 'Show', user, role: "button", class: "btn btn-default" %> <br> </td>
        <td><%= link_to 'Edit', edit_user_path(user), role: "button", class: "btn btn-default" %> <br> </td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, role: "button", class: "btn btn-default" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

