<!DOCTYPE html>
<html lang="en">
<head>
  <title>EventManager</title>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	  <link rel="stylesheet" href="/main.css />
</head>
<body padding-top: "70px">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<nav class="navbar navbar-default">			  
			    <div id="top_bar">
			    <a href="/"> <img src="/larp-peque.png" alt="larp manager logo" style="height="120"; width="120"> </a>
				    <% if logged_in? %>
					    <span id="photo_avatar">
					    	<%= image_tag current_user.avatar.url(:thumb) %>
					    </span>				    	
				      <span > <p id="user_greetings"> Hello,  <%= current_user.name %> - </p></span>
				      <span id="log" class="label">
				      	<% if current_user.role == "admin" %>
				      		<%= link_to 'Admin Panel', admin_path%> |
				      	<% end%>
				      	<%= link_to 'Logout', logout_path, method: :delete %> |
								<%= link_to 'Profile', welcome_path%>					
				      </span>		      
				    <% else %>
				    	<span id="log" class="label label-success">
				      	  <%= link_to 'Signup', signup_path %> |
				      	  <%= link_to 'Login', login_path %>
				    	</span>
				    <% end %>				    
				</div>			  
			</nav>		
			<% flash.each do |key, msg| %>
				<%= content_tag :div, msg, id: key, class: "alert alert-danger", role: "alert", style: "color: green;" %>
			<% end %>	  
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= yield %>
		</div>
		
	</div>
</div>	
<footer class="footer">
	<div class="container">
		Back
	</div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>						

</body>
</html>
